.footer {
    text-align: center;
}
ul {
    display: inline;
}
li {
    display: inline;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
html {
    scroll-behavior: smooth;
}

